[submodule "fork/ob-sml"]
	path = fork/ob-sml
	url = https://github.com/dmgerman/ob-sml
[submodule "fork/conda.el"]
	path = fork/conda.el
	url = git@github.com:bestlem/conda.el.git
	branch = conda-activation-work
[submodule "fork/org-babel-hide-markers-mode"]
	path = fork/org-babel-hide-markers-mode
	url = git@github.com:amno1/org-babel-hide-markers-mode.git
